---
name: "fedora-remix"
version: "3"
services:

  system-build:
    image: "livebuild:fc43"
    privileged: true
    build:
      context: .
      args:
        FEDORA_VERSION: "43"
    volumes:
      - "/dev:/dev"
      - ".:/live/source:ro"
      - "${KIWI_TARGET_DIR:-.}:/live/target"
    command:
      - >
        kiwi-ng --profile=${KIWI_PROFILE:-Workstation-l10n} --type=iso --debug
        --color-output --shared-cache-dir=/live/target/cache system build
        --description=/live/source/kiwi-descriptions --target-dir=/live/target
    restart: "no"

  system-create:
    image: "livebuild:fc43"
    privileged: true
    volumes:
      - "/dev:/dev"
      - ".:/live/source:ro"
      - "${KIWI_TARGET_DIR:-.}:/live/target"
    command:
      - >
        kiwi-ng --profile=${KIWI_PROFILE:-Workstation-l10n} --type=iso --debug
        --color-output --shared-cache-dir=/live/target/cache system create
        --root=/live/target/build/image-root --target-dir=/live/target
    restart: "no"
