# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (c) 2026 Massimiliano Bugni

[Unit]
Description=Remix session settings
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=oneshot
Restart=no
RemainAfterExit=no
ExecStart=/usr/bin/remix session setup

[Install]
WantedBy=graphical-session.target
