# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (c) 2026 Massimiliano Bugni

[Unit]
Description=System finalizing
After=remix-system-setup.service

[Service]
Type=simple
Restart=no
RemainAfterExit=no
ExecStart=/usr/bin/remix system finalize

[Install]
WantedBy=multi-user.target
WantedBy=graphical.target
